@import "../bower_components/susy/sass/susy";
@import "../bower_components/sassy-maps/sass/memo";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside,
);

//
// Variables
// --------------------------------------------------

$icon-font-path: '../fonts/';

// Riga 52
$font-size-base:          16px;

// Tutte le aggiunte ulteriori a bootstrap
$general_margin: $font-size-base * 2; // 36px